table {
        border: 2px solid #000000;
      }
      td {
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;
      }
      input {
        color: #000000;
        padding: 0;
        border: 0;
        text-align: center;
        width: 48px;
        height: 48px;
        font-size: 24px;
        background-color: #FFFFFF;
        outline: none;
      }
      input:disabled {
        background-color: #EEEEEE;
      }
      #ninebyNineCell-0,  #ninebyNineCell-1,  #ninebyNineCell-2  { border-top:    2px solid #000000; }
      #ninebyNineCell-2,  #ninebyNineCell-11, #ninebyNineCell-20 { border-right:  2px solid #000000; }
      #ninebyNineCell-18, #ninebyNineCell-19, #ninebyNineCell-20 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-0,  #ninebyNineCell-9,  #ninebyNineCell-18 { border-left:   2px solid #000000; }
      #ninebyNineCell-3,  #ninebyNineCell-4,  #ninebyNineCell-5  { border-top:    2px solid #000000; }
      #ninebyNineCell-5,  #ninebyNineCell-14, #ninebyNineCell-23 { border-right:  2px solid #000000; }
      #ninebyNineCell-21, #ninebyNineCell-22, #ninebyNineCell-23 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-3,  #ninebyNineCell-12, #ninebyNineCell-21 { border-left:   2px solid #000000; }
      #ninebyNineCell-6,  #ninebyNineCell-7,  #ninebyNineCell-8  { border-top:    2px solid #000000; }
      #ninebyNineCell-8,  #ninebyNineCell-17, #ninebyNineCell-26 { border-right:  2px solid #000000; }
      #ninebyNineCell-24, #ninebyNineCell-25, #ninebyNineCell-26 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-6,  #ninebyNineCell-15, #ninebyNineCell-24 { border-left:   2px solid #000000; }
      #ninebyNineCell-27, #ninebyNineCell-28, #ninebyNineCell-29 { border-top:    2px solid #000000; }
      #ninebyNineCell-29, #ninebyNineCell-38, #ninebyNineCell-47 { border-right:  2px solid #000000; }
      #ninebyNineCell-45, #ninebyNineCell-46, #ninebyNineCell-47 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-27, #ninebyNineCell-36, #ninebyNineCell-45 { border-left:   2px solid #000000; }
      #ninebyNineCell-30, #ninebyNineCell-31, #ninebyNineCell-32 { border-top:    2px solid #000000; }
      #ninebyNineCell-32, #ninebyNineCell-41, #ninebyNineCell-50 { border-right:  2px solid #000000; }
      #ninebyNineCell-48, #ninebyNineCell-49, #ninebyNineCell-50 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-30, #ninebyNineCell-39, #ninebyNineCell-48 { border-left:   2px solid #000000; }
      #ninebyNineCell-33, #ninebyNineCell-34, #ninebyNineCell-35 { border-top:    2px solid #000000; }
      #ninebyNineCell-35, #ninebyNineCell-44, #ninebyNineCell-53 { border-right:  2px solid #000000; }
      #ninebyNineCell-51, #ninebyNineCell-52, #ninebyNineCell-53 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-33, #ninebyNineCell-42, #ninebyNineCell-51 { border-left:   2px solid #000000; }
      #ninebyNineCell-54, #ninebyNineCell-55, #ninebyNineCell-56 { border-top:    2px solid #000000; }
      #ninebyNineCell-56, #ninebyNineCell-65, #ninebyNineCell-74 { border-right:  2px solid #000000; }
      #ninebyNineCell-72, #ninebyNineCell-73, #ninebyNineCell-74 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-54, #ninebyNineCell-63, #ninebyNineCell-72 { border-left:   2px solid #000000; }
      #ninebyNineCell-57, #ninebyNineCell-58, #ninebyNineCell-59 { border-top:    2px solid #000000; }
      #ninebyNineCell-59, #ninebyNineCell-68, #ninebyNineCell-77 { border-right:  2px solid #000000; }
      #ninebyNineCell-75, #ninebyNineCell-76, #ninebyNineCell-77 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-57, #ninebyNineCell-66, #ninebyNineCell-75 { border-left:   2px solid #000000; }
      #ninebyNineCell-60, #ninebyNineCell-61, #ninebyNineCell-62 { border-top:    2px solid #000000; }
      #ninebyNineCell-62, #ninebyNineCell-71, #ninebyNineCell-80 { border-right:  2px solid #000000; }
      #ninebyNineCell-78, #ninebyNineCell-79, #ninebyNineCell-80 { border-bottom: 2px solid #000000; }
      #ninebyNineCell-60, #ninebyNineCell-69, #ninebyNineCell-78 { border-left:   2px solid #000000; }
